<h1>follower users</h1>
<% if @users.exists? %>
  <% @users. each do |user| %>
    <%= user.name %>
    フォロー数<%= user.followings.count %>人
    フォロワー<%= user.followers.count %>人<br />
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>