<div class="container">
  <div class="row mx-auto w-75 m-5">
    <div class="col-sm-12 text-center bg-secondary text-white rounded p-2 mb-3 ">通知</div>

    <% if @notifications.exists? %>
        <div class="col-sm-12 users-index">
            <%= render @notifications %>
        </div>
    <% else %>
        <div class="col-sm-12 text-center">通知はありません</div>
    <% end %>
  </div>
</div>