<%= link_to notifications_path do %>
  <% if unchecked_notifications.any? %>
    <!--通知来た時のベル-->
    <div class="nav-link fas fa-bell fa-lg mt-1 n-circle"></div>
  <% else %>
    <div class="nav-link far fa-bell fa-lg mt-1"></div>
  <% end %>
<% end %>

