<%= link_to notifications_path do %>
  <% if unchecked_notifications.any? %>
    <span class="fa-stack fa-2x">
      <i class="fas fa-bell fa-stack-2x"></i>
      <i class="fas fa-circle n-circle fa-stack-1x"></i>
    </span>
  <% else %>
    <i class="fas fa-bell fa-stack-2x"></i>
  <% end %>
<% end %>