<div class="container">
  <div class="row bg-light m-3 rounded border border-info w-75 mx-auto">
    <div class="col-sm-12 mx-auto text-center p-2 btn btn-info rounded-0 text-white accordion collapsed" data-target="#collapseTag" data-toggle="collapse" area-controlls="collapseTag" id="accordion">タグから調べる</div>

    <div id="collapseTag" class="col-sm-12 mt-2 text-center collapse" style="color: #C0C0C0;" data-parent="#accordion">タグから作品検索ができます。好きな作家さんをみつけよう！</div>
    <div id="collapseTag" class="col-sm-12 text-center mt-3 mb-3 collapse" data-parent="#accordion">
    <% tags.each do |tag| %>
      <%= link_to "#{tag.name}(#{tag.taggings_count})",tag_path(tag.name), class: "btn btn-outline-secondary mr-1 mb-1 mt-1", style:"width: 170px" %>
    <% end %>
    </div>
  </div>
</div>
