<div class="container">
  <div class="row mx-auto mt-3">
    <div class="col-sm-12 text-center bg-light p-3">
    <% @tags.each do |tag| %>
      <%= link_to "#{tag.name}(#{tag.taggings_count})",tag_path(tag.name), class: "btn btn-outline-secondary mr-3" %>
    <% end %>
    </div>

  </div>
</div>


<%= render "posts/index", posts: @posts %>


