<!--週間いいねランキング-->
<%= render "posts/rank", week_post_like_ranks: @week_post_like_ranks %>

<div class="container">
  <div class="row mx-auto mt-5 w-75">
    <div class="col-sm-12 text-center ">

    <% @tags.each do |tag| %>
      <%= link_to "#{tag.name}(#{tag.taggings_count})",tag_path(tag.name), class: "btn btn-outline-secondary mr-1 mb-2 mt-2", style:"width: 150px" %>
    <% end %>
    </div>

  </div>
</div>

<% if @posts.present? %>
  <%= render "posts/index", posts: @posts %>
<% else %>
<div class="text-center m-5">
  投稿はありません。
</div>
<% end %>


