<div class="container">
  <div class="row mx-auto mt-3">
    <div class="col-sm-12 text-center bg-light ">

    <% @tags.each do |tag| %>
      <%= link_to "#{tag.name}",tag_path(tag.name), class: "btn btn-outline-secondary mr-2 mb-2 mt-2", style:"width: 150px" %>
    <% end %>
    </div>

  </div>
</div>

<% if @posts.present? %>
  <%= render "posts/index", posts: @posts %>
<% else %>
<div class="text-center m-5">
  投稿はありません。
</div>
<% end %>


