<!--週間いいねランキング-->
<%= render "posts/rank", week_post_like_ranks: @week_post_like_ranks %>
<!--タグ検索-->
<%= render "posts/tag", tags: @tags %>
<!--タイムライン-->
<% if @posts.present? %>
  <%= render "posts/index", posts: @posts %>
<% else %>
<div class="text-center m-5">
  投稿はありません。<!--新規投稿-->
</div>
<% end %>


