/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
    font-family: serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // color: #6c6b6b;
  }
  // ↓jQuery関連
  // トップページアニメーション
  .start{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9000;
  }
  .start p{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
    z-index: 9999;
    width: 280px;
  }
  // アニメーション用ロゴ
  .navbar-brand2 {
    background: image-url("img/logo.png") no-repeat left center;
    background-size: contain;
    height: 70px;
    width: 280px;
  }
  // トップページのクロスフェード画像
  .dark{
    display: block;
    opacity: .6;
  }
  .img__inner{
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  .top-text{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
  }
  // 中の画像
  // レスポンシブしたい
  .img{
    width: 100%;
    height: 1000px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    // 不透明度
    opacity: 0;
    // 変化
    transition: all 1.0s;
  }
  .current-img{
    // 不透明度
    opacity: 1;
    // 要素の重なり順
    z-index: 20;
  }
  // ↑jQuery関連

  // 画像を少し暗くするためのフィルター色
  .filter {
   background: #000;
  }

  // ↓ナブバー関連
  // ナブバーロゴ
  .navbar-brand {
    background: image-url("img/logo.png") no-repeat left center;
    background-size: contain;
    height: 50px;
    width: 250px;
  }
  .navbar-dark .navbar-toggler{
    /* ナブバーのハンバーガーメニュー */
    border-color: rgba(255, 255, 225, 1);
  }
  // ↑ナブバー関連

  // ↓ユーザヘッダー関連
  .header-image{
    width: 100%;
    height: 1000px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    // 画像を暗くするための不透明化
    display: block;
    opacity: .6;
  }
  // ユーザヘッダーの上の文字
  .card-img-overlay{
    padding: 0;
    top: calc(20% - 0.5rem);
    text-align: center;
    color: white;
  }
  // ↑ユーザヘッダー関連

  // ↓その他
  // 新規登録時の必須項目につける
  .required::after {
    content: "必須";
    color: #ffffff;
    background: #1e90ff;
    font-size: 0.8em;
    padding: 0.3em;
    border-radius: 0.5em;
    margin-left: 0.3em;
  }

  @media screen and (max-width:768px) {
    .icon-image{
      zoom: 0.5;
    }

  }